section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: green;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n){
    background-color: orange;
}
div:nth-last-of-type(3n){
    background-color: aqua;
}
.one{
    transform:rotate(45deg);
}
.two{
    transform: scale(0.5);
}
.three{
    transform: scale(0.5,2);
}
.four{
transform:translate(100px,100px);
/* transform:translateX();
transform:translateY(); */
}
.five{
transform: skew(30deg);
}
.six{
    transform:rotate(45deg) translateX(150px) skew(30deg) scale(0.5,2);
}